/* LOGIN CSS */

.loginspan
{
    border-radius: 25px;
    background-color: #202020;
    width: 30em;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 2em;
    margin: 2em 0 2em 0;
}

#username, #password
{
    margin-bottom: 1.5em;
}

#login-form button 
{
    color: white;
    transition: all 0.3s ease;
    width: 10em;
    height: 3em;
    border-radius: 5px;
    border-width: 0px;
    background-color: #208d70;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 1em;
}

#login-form button:hover 
{
    background-color: #034848;
}

#signup-redirect
{
    display: block;
    color: #b9b9b9;
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 2em;
}