<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <title><%=appName%></title>

    <% if (current_view == "error") { %>

        <!-- Error CSS -->
        <link rel="stylesheet" type="text/css" href="css/error.css"/>
        
    <% } %>

    <% if (current_view == "signup") { %>

        <!-- Signup CSS -->
        <link rel="stylesheet" type="text/css" href="css/signup.css"/>

    <% } %>

    <% if (current_view == "login") { %>

        <!-- Login CSS -->
        <link rel="stylesheet" type="text/css" href="css/login.css"/>

    <% } %>

    <% if (current_view == "signup" || current_view == "login") { %>

        <!-- Auth CSS -->
        <link rel="stylesheet" type="text/css" href="css/partials/auth.css"/>
        <link rel="stylesheet" type="text/css" href="css/partials/auth_providers.css"/>

    <% } %>

    <% if (current_view == appRoute) { %>

        <!-- App CSS -->
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>

    <% } %>   
</head>