
<!--- SONG TEMPLATE -->
<div class="song">
    <img class="thumbnail"></img>
    <label class="title"></label>
    <p class="description"></p>
    <label class="language"></label>
    <div class="specs">
        <img class="duration"></img>
        <label class="duration"></label>

        <img class="likeCount"></img>
        <label class="likeCount"></label>

        <img class="viewCount"></img>
        <label class="viewCount"></label>

        <img class="voteCount"></img>
        <label class="voteCount"></label>

        <img class="commentCount"></img>
        <label class="commentCount"></label>

        <img class="publicationDate"></img>
        <label class="publicationDate"></label>
    </div>
    <div class="channel">
        <img class="thumbnail"></img>
        <label class="title"></label>
        <label class="subscribers"></label>
    </div>        
</div>