
<!--- VIDEO TEMPLATE -->
<div class="video" style="display:none;">

    <div class="thumbnail-wrapper">
        <img class="thumbnail"></img>
        <div class="duration">
            <label></label>
        </div>
    </div>
    
    <div class="title-wrapper">
        <label class="title"></label>
        <div class="language">
            <label></label>
        </div>
        <div class="suggestion" style="display:none;">
            <img src="media/interface/img_suggest_off.png">  
        </div>
        <div class="votes" style="display:none;">
            <label id ="vote_counter">0</label>
            <img src="media/interface/img_heart_off.png">   
        </div>
    </div>

    <div class="stats-wrapper">    

        <div class="viewCount">
            <img src="media/interface/viewIcon.png"></img>
            <label></label>
        </div>
        <div class="likeCount">
            <img src="media/interface/likeIcon.png"></img>
            <label></label>
        </div>
        <div class="commentCount">
            <img src="media/interface/commentIcon.png"></img>
            <label></label>
        </div>
        <div class="publicationDate">
            <img src="media/interface/timeIcon.png"></img>
            <label></label>
        </div>
    </div>

    <div class="channel-wrapper">

        <div class="thumbnail">
            <img alt="Channel thumbnail"></img>
        </div>
        <div class="info">
            <label class="title"></label>
            <div class="countryFlag"></div>
        </div>

        <div class="stats">
            <div class="subscriberCount">
                <img src="media/interface/subIcon.png"></img>
                <label></label>
            </div>
            <div class="viewCount">
                <img src="media/interface/viewIcon.png"></img>
                <label></label>
            </div>
            <div class="videoCount">
                <img src="media/interface/videoIcon.png"></img>
                <label></label>
            </div>
            <div class="publicationDate">
                <img src="media/interface/timeIcon.png"></img>
                <label></label>
            </div>
        </div>
    </div>  
    
    <div class="description-wrapper">
        <p class="description"></p>
    </div>
</div>

<!--- SIMPLIFIED VIDEO TEMPLATE -->
<div class="simplified_video" style="display:none;">

    <img class="thumbnail"></img>
    <label class="title"></label>

    <div class="channel">
        <img class="thumbnail"></img>
        <label class="title"></label>
        <div class="countryFlag"></div>
    </div>  
</div>
