
/* VIDEO TEMPLATE */

#Selecta .video
{
    display: grid;
    grid-template-columns: 374px auto;
    grid-template-rows: 2.5rem 2.5rem 7rem 5rem;
    padding: 1rem;
}

#Selecta .video:hover
{
    background-color: #323131;
    display: grid;
    grid-template-columns: 374px auto;
    grid-template-rows: 2.5rem 2.5rem 7rem 5rem;
    padding: 1rem;
}

/* WRAPPERS */

#Selecta .video .thumbnail-wrapper
{
    grid-column: 1;
    grid-row: 1/5;
}

#Selecta .video .title-wrapper
{
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    margin-left: 1.5rem;
}

#Selecta .video .stats-wrapper
{
    display: inline-flex;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    margin-left: 1.5rem;
    font-size: 13px;
    color: #ababab;
}

#Selecta .video .channel-wrapper
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80px 1fr;
    grid-column: 2;
    grid-row: 3;
    margin-left: 1.5rem;
}

#Selecta .video .description-wrapper
{
    grid-column: 2;
    grid-row: 4;
    margin-left: 1.5rem;
    text-align: left;
}

/* THUMBNAIL WRAPPER */

#Selecta .video .thumbnail-wrapper .thumbnail
{
    object-fit: cover;
    height: 280px;
}

#Selecta .video .thumbnail-wrapper .duration
{
    background-color: black;
    margin-right: 0.3rem;
    float: right;
    transform: translate(0px, -2rem);
    padding: 0.2rem 0.45rem 0.2rem 0.45rem;
    border-radius: 10px;
}

#Selecta .video .thumbnail-wrapper .duration label
{
    color: white;
}

/* TITLE WRAPPER */

#Selecta .video .title-wrapper .title
{
    color: white;
    margin-right: 1rem;
}

#Selecta .video .title-wrapper .language
{
    background-color: #5d5d5d;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#Selecta .video .title-wrapper .language label
{
    color: white;
}


/* STATS WRAPPER */

#Selecta .video .stats-wrapper .likeCount
{
    width: auto;
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;
    margin-right: 1.5rem;
}

#Selecta .video .stats-wrapper .likeCount img
{
    object-fit: initial;
    width: 40px;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}

/* VOTES COUNT */

#Selecta .votes
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

#Selecta .votes img
{
    object-fit: initial;
    width: 50px;
}

#Selecta .votes label
{
    color: white;
}

/* SUGGESTION */

#Selecta .suggestion
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

#Selecta .suggestion img
{
    object-fit: initial;
    width: 50px;
}


#Selecta .video .stats-wrapper .viewCount
{
    width: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
}

#Selecta .video .stats-wrapper .viewCount img
{
    object-fit: initial;
    width: 50px;
}

#Selecta .video .stats-wrapper .commentCount
{
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;
    margin-right: 1.5rem;
}

#Selecta .video .stats-wrapper .commentCount img
{
    object-fit: initial;
    width: 38px;
    margin-right: 0.3rem;
}

#Selecta .video .stats-wrapper .publicationDate
{
    display: inline-flex;
    align-items: center;
}

#Selecta .video .stats-wrapper .publicationDate img
{
    object-fit: initial;
    width: 32px;
    margin-right: 0.3rem;
}

/* CHANNEL WRAPPER */

#Selecta .video .channel-wrapper
{
    color: white;
}

#Selecta .video .channel-wrapper .thumbnail
{
    display:flex;
    align-items: center;
    place-content: center;
    grid-row: 1/3;
    grid-column: 1;
}

#Selecta .video .channel-wrapper .thumbnail img
{
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
}

#Selecta .video .channel-wrapper .info
{
    display: inline-flex;
    margin-left: 1.2rem;
    margin-top: auto;
    margin-bottom: 0.3rem;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
}

#Selecta .video .channel-wrapper .title
{
    color:white;
    margin-right: 0.3rem;
}

#Selecta .video .channel-wrapper .countryFlag
{
    color: white;
}

#Selecta .video .channel-wrapper .stats
{
    display: inline-flex;
    margin-left: 1rem;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 13px;
    color: #ababab;
    margin-bottom: 1rem;
}

#Selecta .video .channel-wrapper .subscriberCount
{
    display: inline-flex;
    margin-right: 0.5rem;
    align-items: center;
    flex-direction: row;
}

#Selecta .video .channel-wrapper .subscriberCount img
{
    object-fit: initial;
    width: 25px;
    margin-right: 0.4rem;
}

#Selecta .video .channel-wrapper .viewCount
{
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;
    flex-direction: row;
}

#Selecta .video .channel-wrapper .viewCount img
{
    object-fit: initial;
    width: 50px;
    margin-right: 0.1rem;
}

#Selecta .video .channel-wrapper .videoCount
{
    display: inline-flex;
    margin-right: 0.9rem;
    flex-direction: row;
    align-items: center;
}

#Selecta .video .channel-wrapper .videoCount img
{
    object-fit: initial;
    width: 32px;
    margin-right: 0.4rem;
}

#Selecta .video .channel-wrapper .publicationDate
{
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;
    flex-direction: row;
}

#Selecta .video .channel-wrapper .publicationDate img
{
    object-fit: initial;
    width: 32px;
    margin-right: 0.4rem;
}


/* DESCRIPTION WRAPPER */

#Selecta .video .description-wrapper .description
{
    color: #bababa;
    margin-top: 1rem;
    font-size: 12px;
}

/* SIMPLIFIED VIDEO TEMPLATE */

#Selecta .simplified_video
{
    background-color: rgb(18 19 19);
    display: flex;
    flex-direction: row;
    margin: 0px 1% 3px 1%;
    width: auto;
    color: wheat;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

#Selecta .simplified_video .thumbnail
{
    color: white;
}

#Selecta .simplified_video .title
{
    color: white;
}

#Selecta .simplified_video .channel
{
    color: white;
}

#Selecta .simplified_video .channel .thumbnail
{
    color: white;
}

#Selecta .simplified_video .channel .title
{
    color: white;
}

#Selecta .simplified_video .channel .flag
{
    color: white;
}


