<!DOCTYPE html>
<html>

    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Body -->
    <body> 

        <div id="intermediate_container">
            <label class="intermediate_label">WELCOME TO SELECTA</label>
            <button class="intermediate_decision" id="yes">Let's start</button>
        </div>

        <!--- Footer -->
        <%- include('partials/footer.ejs') %>
    </body>


</html>