<!DOCTYPE html>
<html>

    <!--- Header -->
    <%- include('partials/header.ejs') %>

    <!--- Body -->
    <body> 
        <!--- SELECTA -->
        <div id="Selecta">

            <!--- GRID -->
            <div class="grid-layout">

                <!--- APP -->
                <h1> Aquí va la APP </h1>
                
            </div>

            <!--- TEMPLATES -->
            

        <!--- Footer -->
        <%- include('partials/footer.ejs') %>
    </body>


</html>

