/* LOGOUT MENÚ */

#Selecta #exit_interface
{
    display: none;
    position: absolute;
    color: white;
    top: 10em;
    z-index: 1;
    background: #202020;
    width: 14%;
    margin: 10% 43% 10% 43%;
    height: 10%;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
}

#Selecta #exit_interface .logout_label
{
    font-size: 16px;
    margin: 4% 5% 0% 5%;
    text-align: center;
}

#Selecta #exit_interface .logout_decision 
{
    color: white;
    background-color: #208d70;
    border-radius: 8px;
    flex-basis: 40%;
    margin: 1% 5% 5% 5%;
}