/* MAIN MENU */

#Selecta .interface_menu {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #202020;
    width: 6%;
    margin-top: 5%;
    margin-left: 2%;
    height: auto;
    overflow: hidden;
    border-radius: 8px; 
    text-align: center;
    
}

#Selecta .img_layout img {
    transition: 0.3s;
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 5% 20px 5%;
    object-fit: contain;
}

#Selecta .img_layout:hover {
    background-color: #171717; 
}
