
/* PLAYER CSS*/

#Selecta #player_container
{
    display: inline-flex;
    width: 80%;
    height: auto;
    background-color: #171717;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

#Selecta #current_song
{
    display: inline-flex;
    width: 25%;
    height:auto;
    align-items: center;
}

#Selecta #next_song
{
    display: inline-flex;
    width: 25%;
    height:auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#Selecta #current_song .thumbnail
{
    object-fit: contain;
    height: 60%;
    margin-right: 0.8rem;
    margin-left: 8%;
}

#Selecta #next_song .thumbnail
{
    object-fit: contain;
    height: 50%;
    margin: 0.8rem;
    margin-right: 8%;
}

#Selecta #current_song .text_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.5rem;
}

#Selecta #next_song .text_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* white-space: nowrap; */
    margin-left: 0.5rem;
}

#Selecta #current_song .title, #Selecta #next_song .title
{
    color: white;
    font-size: 14px;
    overflow: hidden;
    /* font-weight: bold; */
    margin-bottom: 0.2rem;
}

#Selecta #current_song .artist, #Selecta #next_song .artist
{
    color: #ababab;
    font-size: 12px;
    overflow: hidden;
    margin-top: 0.2rem;
}

#Selecta #player
{
    display:flex;
    align-items: center;
    place-content: center;
    width: 50%;
    height:auto;
    flex-direction: column;
}

#Selecta #player .cover
{
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    height: 70%;
    justify-content: center;
}

#Selecta #player .thumbnail
{
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    margin-top: 1rem;
}

#Selecta #player #skip-button
{
    object-fit: contain;
    height: 25%;
    margin-left: auto;
}

#Selecta #player #skip-info
{
    color: #ababab;
    font-size: 12px;
    margin-left: 1rem;
}

#Selecta .progress
{
    display: inline-flex;
    font-size: 12px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

#Selecta .progress #current-time
{
    color: white;
    font-size: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#Selecta .progress-bar-container
{
    width: -webkit-fill-available;
    height: 0.2rem;
    border-radius: 8px;
    background-color: #5d5d5d;
}

#Selecta .progress-bar
{
    width: 20%;
    height: 0.2rem;
    border-radius: 8px;
    background-color: #ffffff;
}

#Selecta #player #duration
{
    color: white;
    font-size: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#Selecta #player .playing
{

}

