/* MENÚ SEARCH */

#Selecta #search_interface
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #696e6e;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    height: 72%;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    margin-right: 20%;
    padding-bottom: 20px;
}

#Selecta #search_interface #title
{
    color: wheat;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

#Selecta #search_interface #search_bar
{
    background-color: aliceblue;
    margin: 2% 5% 3% 5%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    width: auto;
    height: auto;
}

#Selecta #search_interface #search_bar #input 
{
    margin: 5px 5px 5px 5px;
    width: 100%;
    flex: 100;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    padding: 1px 5px 1px 5px;
}

#Selecta #search_interface #search_bar #image
{
    flex: 1;
    margin-top: 1%;
    height: 100%;
    margin: 1% 1% 1% 1%;
    transition: 0.3s;
}

#Selecta #search_interface #search_bar #image:hover
{
    background-color: #909797;
}


#Selecta #search_interface #search_result 
{
    background-color: aliceblue;
    margin: 2% 5% 2% 5%;
    height: 75%;
    padding: 5px 0px 5px 0px;
}

#Selecta #search_interface #error_prompt
{
    color: red;
}
