<div id="loading_screen" class="loading_screen_container">
    <div class="image_container">
        <img id="selecta_logo" alt="Selecta Logo" src="media/selecta/SelectaLogoRounded.png">
    </div>
    <div class="loop_container">
        <img id ="loading_loop" src="media/animated/loading6.gif">
        <button id="start_button" style="display: none;">! START !</button>
    </div>
</div>