
<div class="logout_menu" id="logout_menu" style="display: none;">
    <label class="logout_label">¿Are you sure you want to logout?</label>
    <button class="logout_decision" id="logout_yes">Yes</button>
    <button class="logout_decision" id="logout_no">No</button>
</div>