
<div id="menu_interface">
    
    <h1>Selecta</h1>

    <!-- MUTE TRIGGER -->
    <div class="img_layout" id="micro_trigger">
        <img src="media/interface/img_speaker_on.png" alt="Descripción de la imagen" id="mute_image">
    </div>

    <!-- <div class="img_layout" style="display:none">
        <img src="media/interface/img_speaker_off.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div> -->

    <!-- SEARCH TRIGGER -->
    <div class="img_layout" id="search_trigger">
        <img src="media/interface/img_song.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div>

    <!-- VOTE TRIGGER -->
    <div class="img_layout" id="votes_trigger">
        <img src="media/interface/img_vote.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div>

    <!-- SETTINGS TRIGGER -->
    <div class="img_layout" id="settings_trigger">
        <img src="media/interface/img_settings.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div>

    <!-- LOGOUT TRIGGER -->
    <div class="img_layout" id="logout_trigger">
        <img src="media/interface/img_exit.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div>

    <!-- ROOM TRIGGER -->
    <div class="img_layout" id="room_trigger">
        <img src="media/interface/img_info.png" width="50%" height="50%" alt="Descripción de la imagen">
    </div>

    <!-- LOGOUT FORM -->
    <form action="/logout" id="logout-form" style="display:none;">
        <button type="submit" id="logout-button"></button>
    </form>

</div>