<div class="player_container" >
    <div class="current_song">
        <div class="player_content">
            <div class="player_song"></div>
            <label class="player_label">CURRENT SONG</label>
        </div>
    </div>
    <div class="next_song">
        <div class="player_content">
            <div class="player_song"></div>
            <label class="player_label">NEXT SONG</label>
        </div>
    </div>
  </div>