
<div id="search_interface_wrapper" style="display: none;">
    <div id="search_interface">

        <!-- DRAGGER -->
        <div id="drag_menu" class="dragger">
            <div id="title">Search</div> 
            <img id="closer" src="media/interface/closeTrigger.png"></img>
        </div>
    
        <!-- SEARCH BANNER -->
        <div id="search_banner">
            <img id="youtube_logo" alt="Youtube Logo" src="media/logos/youtube.png"></img>
            <div id="search_bar">
                <input type="text">
                <div id="search_icon">
                    <img alt="Search Icon" src="media/interface/youtubeSearch.png"></img>
                </div>
            </div>
            <img id="selecta_logo" alt="Selecta Logo" src="media/selecta/SelectaTitle.png"></img>
        </div>

        <!-- SEARCH RESULT -->
        <div id="search_result"></div>
    
        <!-- ERROR PROMPT -->
        <div id="error_prompt"></div>
    
    </div>
</div>

