<!---
<div class ="interface_suggest_song" id="interface_suggest_song_id">
    <div id="interface_suggest_song_title">SUGGEST A SONG!</div> 
    <div class="interface_search_var">
        <img src="media/interface/img_search.png" width="3%" height="3%" alt="Descripci贸n de la imagen" id="search_var_image">
        <input type="text" id="search_var_input">
    </div>
    <div class="interface_search_result">
        <div class="interface_search_result_song">
            <label class="interface_search_result_song_name">Chorrito pa las animas</label>
            <label class="interface_search_result_song_channel">Feid</label>
            <label class="interface_search_result_song_duration">2:48</label>
            <img src="media/interface/img_vote_song_1.png" alt="Descripci贸n de la imagen" class="interface_search_result_song_vote">
        </div>
        <div class="interface_search_result_song">
            <label class="interface_search_result_song_name">Normal</label>
            <label class="interface_search_result_song_channel">Feid</label>
            <label class="interface_search_result_song_duration">2:36</label>
            <img src="media/interface/img_vote_song_2.png" alt="Descripci贸n de la imagen" class="interface_search_result_song_vote">
        </div>
        <div class="interface_search_result_song">
            <label class="interface_search_result_song_name">Silly Watch</label>
            <label class="interface_search_result_song_channel">Lil Uzi Vert</label>
            <label class="interface_search_result_song_duration">3:16</label>
            <img src="media/interface/img_vote_song_2.png" alt="Descripci贸n de la imagen" class="interface_search_result_song_vote">
        </div>
    </div>
    <div class="interface_error_prompt">ERROR PROMPT</div>
</div>
--->