
<div id="interface_search">

    <!-- TITLE -->
    <div id="title">SEARCH FOR A SONG!</div> 

    <!-- SEARCH BAR -->
    <div class="search_bar">
        <img src="media/interface/img_search.png" width="3%" height="3%" alt="Descripción de la imagen" id="search_var_image">
        <input type="text" id="input">
    </div>

    <!-- SEARCH RESULT -->
    <div id="search_result"></div>

    <!-- ERROR PROMPT -->
    <div id="error_prompt">ERROR PROMPT</div>

    <!--- SONG TEMPLATE -->
    <div class="song">
        <label class="song_name">Silly Watch</label>
        <label class="song_channel">Lil Uzi Vert</label>
        <label class="song_duration">3:16</label>
        <img src="media/interface/img_vote_song_2.png" alt="Descripción de la imagen" class="song_votes">
    </div>

</div>
